.about-section
	padding-top: 100px
	.about-unit
		position: relative
		padding-left: 400px
		text-align: left
		opacity: 0

		p
			width: 900px
			font-size: 22px
			line-height: 2em
			font-family: "Lato",sans-serif
			span
				color: $orange
				font-weight: 400
		h1.posr
			font-family: "Playfair display",sans-serif
			font-size: 50px

		h1.posa
			font-size: 460px
			color: #f7f7f7
			left: 100px
			top: -150px
			padding: 0
			margin: 0
			z-index: -1
			font-family: "Playfair display",sans-serif
