@media screen and (max-width: 1280px) {
    section.principles h1.promises-title{
      font-size: 40px;
      margin-top: 60px;
      margin-bottom: 10px;
    }
    section.principles .lockup .unit p{
      font-size: 16px;
    }
    section.principles .lockup .unit p strong {
      font-size: 25px
    }
    section.prices .price-unit {
      max-width: 300px;
      padding: 20px;

    }
    section.prices .price-unit p{
      font-size: 13px;
    }
    .banner h1{
      font-size: 15px;
    }
    section.includes .include-unit  {
      margin: 0;
    }
    section.includes .wrapper.flex.columns{
      margin: 0;
      padding: 20px;
    }
    section.includes .include-unit p{
      width: 400px;
      text-align: left;
      padding: 0
    }
    section.include .include-unit .title h1{
    padding-bottom: 50px;
  }
}
