@import "flex"
@import url('https://fonts.googleapis.com/css?family=Satisfy')
body
  font-family: "brandon-grotesque"
  margin: 0
  padding: 0
  overflow-x: hidden
$grey: #F2F2F2
$orange: #E23E57
$black: #222831
@import "mobile-intro"
@import "mobile-who-we-are"
@import "mobile-prices"
.banner
  text-align: center
  font-size: 10px
  letter-spacing: 2px
  padding: 0
  margin: 0
  height: 40px
