.portfolio
  background: $black
  height: 100vh
  width: 100%
  .hover
    &:hover
      cursor: pointer
      .overlay
        animation: fadeIn 2s ease both

  .flex-table
    width: 80%
    height: 100%
    .col
      margin: 10px
    .overlay
      top: 0
      left: 0
      bottom: 0
      right: 0
      background: rgba(0,0,0,0.7)
      text-transform: uppercase
      opacity: 0

      h1
        letter-spacing: 4px
        font-size: 20px
        color: white
    .col
      flex: 1
      .unit-lrg
        width: 100%
        height: 60%
        background: red
        &:nth-child(2)
          height: 70%
      .unit-norm
        width: 100%
        height: 40%
        background: orange
      .small-row
        width: 100%
        height: 200px

        .unit-smll
          width: 50%
          height: 100%
          background: pink
          margin: 0 10px
