doctype html
html
  head
    <meta name="viewport" content="width=device-width, initial-scale=1">
    title Vyco Designers | Website Design & Development 
    link(rel="stylesheet", href="css/master.css")
    link(rel='stylesheet', href='css/circle.css', attr)
    link(rel='icon', href='image.png',type='image/png', attr)
    
    meta(name="description", content="Introducing vyco, we are team of freelancers that specialise in full service web design. With us, you are guaranteed to obtain a full digial experience. ")
    meta(name="keywords" content=" web design,design,developer,UI design,vyco, beskpoke web design, cheap web design, freelance web design, web development, designs, programmer,creating sites, creative web design , uxbridge web design, uxbridge, custom website, web programming , web design portfolio, homepage design, best designed websites , create your website, create your site, web design packages, design agency,create your website, simple website design, create new website, build your wesbite, top website design, build your website, website service, ecommerce website designer, web developer company, website for designers, web design layout , web design and development, ecommer development, website programming, basic web design, seo,seo web design, create website from scratch, graphic design agency, online website making, web development website, interactive web design, best website designer, online website making,proffesional web design, webdesigns, make a new website, top design websites, build a web page, inspiration web design, amazing website designs, make a new website, web graphic design, london web design, web design")
    meta(name="og:site_name", content="Vyco")
    meta(name="og:url", content="www.vyco.co.uk")
    script(async='',src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
    script(adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-3562290118912617",
      enable_page_level_ads: true
      })

    <script src="https://use.fontawesome.com/525ca23e8d.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TimelineLite.min.js"></script>
    script(type="text/javascript",src="js/anime.min.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenLite.min.js")
    script(type="application/javascript", src="js/script.js")
    script(type="text/javascript", src="js/gsock.js")
    script(type="application/javascript", src="js/analytics.js")
    <script src="https://use.typekit.net/smi4fyb.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  
