.top-bar
	.flex.flex--space-around.align-center
		h1 VYCO
		nav.global.flex--center.align-end
			a(href="index.html") Home
			a(href="about.html") About
			a(href="") Contact
			a.our-work-link(href="index.html") our work
			a.our-prices-link(href="index.html") prices
			a(href="https://www.facebook.com/vycodesigners/?ref=aymt_homepage_panel") 
				i.fa.fa-facebook
			a(href="https://twitter.com/vycodesigners") 
				i.fa.fa-twitter
			a(href="https://www.instagram.com/vycodesigners/?hl=en") 
				i.fa.fa-instagram
