include _head.jade
script(type="text/javascript",src="js/anime-v.js").
	
script
body
	header
		include _nav.jade
		.writing.flex.flex--center.align-center.rows
			h1#reason We are a <span>group</span> of programmers who create <span> hand</span> made digital experiences.
		.about-section
			.about-unit.flex.columns
				h1.posr Who are we & what we do
					h1.posa.first 01
				p We are <span>web desingers</span> and <span>developers</span>, who take design and development to the <span>next level</span>. We aim to deliver user expeirences, rather than static flat websites. We ask ourselves before any creation, will the user have fun with the site, if we believe the answer to be no, then we will start again.
			.about-unit.flex.columns
				h1.posr Why we do it
					h1.posa 02
				p We believe that a site is truly beskpoke when it is coded and programmed. Many design agencies and freelance designers will use wordpress and wix to create websites, however, how can a site truly be custom, if it was created from a template? Therefore, to deliver a beskpoke user experiences they have to be programmed from scratch.
			.about-unit.flex.columns
				h1.posr How we do it
					h1.posa o3
				p We use our knowledege of web development languages to craft our experiences as well as a series of other languages that enable us to deliver what we promise.
		
				
				
