doctype html
html
  head
    <meta name="viewport" content="width=device-width, initial-scale=1">
    title Vyco Designers | Website Design & Development 
    link(rel="stylesheet", href="css/master.css")
    link(rel='stylesheet', href='css/circle.css', attr)
    link(rel='icon', href='image.png',type='image/png', attr)
    
    meta(name="description", content="Introducing vyco, we are team of freelancers that specialise in full service web design. With us, you are guaranteed to obtain a full digial experience. ")
    meta(name="keywords" content=" web design,design,developer,UI design,vyco, beskpoke web design, cheap web design, freelance web design, web development, designs, programmer,creating sites, creative web design , uxbridge web design, uxbridge, custom website, web programming , web design portfolio, homepage design, best designed websites , create your website, create your site, web design packages, design agency,create your website, simple website design, create new website, build your wesbite, top website design, build your website, website service, ecommerce website designer, web developer company, website for designers, web design layout , web design and development, ecommer development, website programming, basic web design, seo,seo web design, create website from scratch, graphic design agency, online website making, web development website, interactive web design, best website designer, online website making,proffesional web design, webdesigns, make a new website, top design websites, build a web page, inspiration web design, amazing website designs, make a new website, web graphic design, london web design, web design")
    meta(name="og:site_name", content="Vyco")
    meta(name="og:url", content="www.vyco.co.uk")
    script(async='',src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
    script(adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-3562290118912617",
      enable_page_level_ads: true
      })

    <script src="https://use.fontawesome.com/525ca23e8d.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TimelineLite.min.js"></script>
    
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenLite.min.js")
    script(type="text/javascript",src="js/anime.min.js")
    script(type="application/javascript", src="js/script.js")
    script(type="text/javascript", src="js/anime-s.js")
      

    script(type="application/javascript", src="js/analytics.js")
    
    <script src="https://use.typekit.net/smi4fyb.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
      
  body
    .top-bar
      .flex.flex--space-around.align-center
        h1 VYCO
        nav.global.flex--center.align-end
          a(href="indxe.html",) Home
          a(href="about.html") About
          a(href="") Contact
          a.our-work-link(href="#") our work
          a.our-prices-link(href="#") prices
          a(href="https://www.facebook.com/vycodesigners/?ref=aymt_homepage_panel") 
            i.fa.fa-facebook
          a(href="https://twitter.com/vycodesigners") 
            i.fa.fa-twitter
          a(href="https://www.instagram.com/vycodesigners/?hl=en") 
            i.fa.fa-instagram
          
    section.principles.flex.flex--center.align-center.columns
      .complete-header.flex.flex--center.align-center.columns.posr
      
        .overlay.posa.flex.flex--center.align-center.columns
          

          .title-header
            .span-locker.flex.flex--center.align-center.rows
              h1.intro-vyco Introducing vyco
              span.flex.flex--center.align-center.rows.com designers
                .dot.animted
              span.flex.flex--center.align-center.rows.com developers 
                .dot.animated
              span.flex.flex--center.align-center.rows.com creators
                .dot.animated
          h1.promises-title UI DESIGN & DEVELOPMENT
          .flex.flex--center.align-center.columns
            span.our-promise view who we are
            i.fa.fa-angle-down.prom
      
      .lockup.flex.rows
        
        .unit.lrg.flex.flex--center.align-center.columns
          h1 <strong>First and foremost</strong> We are designers
          p At <strong>vyco designers</strong> we are a team of inspired young people that love developing creative and beautiful sites for companies and people, and after years of learning we are proud to call ourselves developers and designers.
          .flex.flex--center.align-center.columns
            span.see see our work
            i.fa.fa-angle-down.port
        .flex.columns
          .unit.grey
            h1 we are transparent 
            p  We, at <strong> vyco designers</strong> have found that clients of web developers have a 50/50 chance of being satsfied with their end product. As at times the client will not see the finished project until it is uploaded. At vyco, once we are given a project we will upload the site immediatley, however, this will be on a private server, therefore, only us and client will be able to see the site live as changes are made.
            .flex.flex--center.align-center.columns
              span.see see our work
              i.fa.fa-angle-down.port
          .unit.orange
            h1 we are still learning
            p  Even with a combined experience of 11 years, we are still learning new things and this shows through our designs and development. At this current moment in time we are honing our programming skills to deliver the most creative and inspired work possible.
            .flex.flex--center.align-center.columns
              span.see see our abilities
              i.fa.fa-angle-down.abil
          
    .banner.flex.flex--center.align-center
      h1 Next we will show you how we create our sites from start to finish.
    section.our-process.flex.columns.flex--center.align-center
      h1.production-process PRODUCTION PROCESS
      p.para Below is the process that we take for every project that is given to us, all of these steps have proven to work, and produce what we call digital excellence.
      .total-wrap.flex.flex--center.align-center.columns
        .work-unit.flex.flex--center.align-center.rows
          .text.flex--start.align-start.columns.txt
            h1 WIREFRAMING<span class="number">1</span>
            p For the <strong>first day</strong> of creation we will digitally <strong>draw</strong> the entire website head to toe to see how it will look and feel
          .line
            .circle-dot.animated
          .side.flex.flex--center.align-start.columns.txt
            h1  brainstorm<span class="number">2</span>
            p  After this we will <strong>think more</strong> about how the website will look and feel and reasearch other websites to review current <strong>web trends</strong> to see if these can be incorparated into our clients site
        .work-unit.flex.flex--center.align-center.rows
          .text.flex--start.align-start.columns
            h1  Development<span class="number">3</span>
            p   During this stage we will being to create the bone structure of the site in HTML5 during this course we will design the layout and all of the cotent writing.
          .line
            .circle-dot.animated
          .side.flex.flex--center.align-start.columns
            h1  Styling<span class="number">4</span>
            p  This is where the fun comes in, here we will customise the website and display our creative flair and talent, as we will style the website to our clients order with their own custom animations and designs.
        .work-unit.flex.flex--center.align-center.rows
          .text.flex--start.align-start.columns
            h1  Scripting<span class="number">5</span>
            p   Towards the end of the process we will crete the backend of the site dealing with all of the information and the ordering of the site using javacsript.
          .line
            .circle-dot.animated
          
          .side.flex.flex--center.align-start.columns
            h1 deployment <span class="number">6</span>
            p In this final stage we will be looking the website and attemptong to use it through the eyes of a new user. After it has passed our tests <strong>we will upload the site!</strong>
            
    section.our-work.flex.columns
      .flex.flex--center.align-center.columns
        h1.title.flex.flex--center.align-center.columns Our Work
          hr
        p.intro-para All of these projects are currently being developed, these projects cannot be viewed because they are in the final stages of development. Therefore, only us and respective client can view the development.
      .unit-lock.flex.flex--center.align-center.rows
        .work-unit.ak.posr(style="background:url(https://images.unsplash.com/photo-1496074620649-6b1b02e5c1c8?dpr=1&auto=format&fit=crop&w=1500&h=1142&q=80&cs=tinysrgb&crop=); background-size:cover;background-position:center center;")
          .overlay.flex.flex--center.align-center.columns
            h1 Aisha's Kitchen
            p A brand new catering company that is looking to bring sizzisling food to west london.
        .work-unit.oyp.posr(style="background:url(https://images.unsplash.com/photo-1499417267106-45cebb7187c9?dpr=1&auto=format&fit=crop&w=1500&h=2081&q=80&cs=tinysrgb&crop=); background-size:cover;background-position:center center;")
          .overlay.flex.flex--center.align-center.columns
            h1 O.Y.P Photography
            p An up and coming photographer based in london.
        .work-unit.tochi.posr(style="background:url(https://pbs.twimg.com/media/Coc33M6WYAANEQe.jpg); background-size:cover;background-position:center center;")
          .overlay.flex.flex--center.align-center.columns
            h1 inspiredbytee
            p A seasond and regular uploading youtuber.
        
        .work-unit.hbt.posr(style="background:url(https://images.unsplash.com/photo-1504465039710-0f49c0a47eb7?dpr=1&auto=format&fit=crop&w=1500&h=2000&q=80&cs=tinysrgb&crop=); background-size:cover;background-position:center center;")
          .overlay.flex.flex--center.align-center.columns
            h1 HBT MEDIA 
            p A social media management company that is based in essex.
        .work-unit.flex.flex--center.align-center.columns.mak(style="background:black;")
          h1 Mak
          p SouthSound
      .unit-lock.flex.flex--center.align-center.rows
        .work-unit.flex.flex--center.align-center.columns.asset.mak.posr(style="background:#2BD3AF;")
          h1 Asset Chemist
          p An international pharmacy with offices in london and nigeria.
        .work-unit.flex.flex--center.align-center.columns.mak(style="background:darkcyan;")
          h1 Margaret Olusegun
          p A london based lawfirm that prides itself in it's success.
          
            
            
      
    section.prices.flex.flex--center.align-center.columns
      h1.imp Impressed? 
      span.price-para Here is where you will find our very competitive prices, to request a certain package or to get in contact with us click the request button on one of the packages that you desire.
      .prices-locker.flex.flex--center.align-center.rows
        .price-unit.flex.flex--center.align-center.columns.side
          .title.flex.flex--center.align-center.columns
            h1.price-title Basic
          h1.posr 200
            span.posa.pound-sign £
          p uploaded to github
            i.fa.fa-check-circle
          p no ssl certificate 
            i.fa.fa-check-circle
          p single page site created
            i.fa.fa-check-circle
          p single programmer allocated to project
            i.fa.fa-check-circle
          a.select(href="mailto:vyco@mail.com?Subject=Basic%20Package%20Request", target="_top") Request
        .price-unit.flex.flex--center.align-center.columns
          .title.flex.flex--center.align-center.columns
            h1.price-title exclusive
          h1.posr 350
            span.posa.pound-sign £
          p uploaded to custom server or github
            i.fa.fa-check-circle
          p Secure SSL certificate
            i.fa.fa-check-circle
          p multi-page site created
            i.fa.fa-check-circle
          
          p Multiple programmers allocated to project
            i.fa.fa-check-circle
          p Jekyll optimization with CMS
            i.fa.fa-check-circle
          p google optimization
            i.fa.fa-check-circle
          p 24/7 support
            i.fa.fa-check-circle
          a.select(href="mailto:vyco@mail.com?Subject=Exclusive%20Package%20Request", target="_top") Request
        
        .price-unit.flex.flex--center.align-center.columns.side.pro
          .title.flex.flex--center.align-center.columns
            h1.price-title pro
            
            h1.posr 600
              span.posa.pound-sign £
            p multi-page site created
              i.fa.fa-check-circle
            p 24/7 support
              i.fa.fa-check-circle
            
            p Multiple programmers allocated to project
              i.fa.fa-check-circle
            p.yo ALL <strong>EXCLUSIVE</strong> PERKS & MORE
              i.fa.fa-check-circle
            p Multiple mockups
              i.fa.fa-check-circle
            p premium animations
              i.fa.fa-check-circle
            a.select(href="mailto:vyco@mail.com?Subject=Pro%20Package%20Request", target="_top") Request
            
    section.includes.flex.flex--center.align-center.columns
      h1.title All of our plans include 
      i.fa.fa-angle-down
      .total-wrapper.flex.flex--center.align-center.rows
        .wrapper.flex.columns
          .include-unit.flex.columns
            .title.flex.rows
              i.fa.fa-check-circle-o
              h1 Landing pages
            p Each site will come with a custom landing page, the design will be decided with the customer.
          .include-unit.flex.columns
            .title.flex.rows
              i.fa.fa-check-circle-o
              h1 Custom domain
            p If you do not currently have a domain, we will purchase and handle the domain for you. To host the site on a secure server, this will cost extra 
          .include-unit.flex.columns
            .title.flex.rows
              i.fa.fa-check-circle-o
              h1 Google analytics
            p Although this is not displayed above, we will intergrate google analytics into every site so that our customers can view their audience and the amount of view they recieve. 
        .wrapper.flex.columns
          .include-unit.flex.columns
            .title.flex.rows
              i.fa.fa-check-circle-o
              h1 Consistent uploading
            p Once we have started to create the site, the site will be uploaded to a private server that only the customer and developers can view. 
          .include-unit.flex.columns
            .title.flex.rows
              i.fa.fa-check-circle-o
              h1 Google adsense
            p This will have to be requested separately, if the client wishes to extend their outreach almost immediatley, we are willing to create and manage the clients google adsense account.
          .include-unit.flex.columns
            .title.flex.rows
              i.fa.fa-check-circle-o
              h1 Google Business
            p If we are building a website for a completely new business, we are <strong>more</strong> than willing to sign up the business for google business so that they can immediatley be found on google.
        .wrapper.flex.columns
          .include-unit.flex.columns
            .title.flex.rows
              i.fa.fa-check-circle-o
              h1 Google search console
            p All sites that we create will be added to google search console so that they can be discovered when typed into google.
          .include-unit.flex.columns
            .title.flex.rows
              i.fa.fa-check-circle-o
              h1 SEO
            p It would be a shame for us to create a site and for it to not be found, therefore, we will add SEO for you website so that when typed into google, though it may not appear on the first page, we will make sure that it can be found on google. 
          .include-unit.flex.columns
            .title.flex.rows
              i.fa.fa-check-circle-o
              h1 Color schemes
            p Each site will come with their own custom colour scheme that will given to the client once it has been decided so that, if, in the future they want to conduct more design work, they can create content that will fit with their website. 
      
      
        
    
          
      
